html {
   
}
body {
    background-image: url(images/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
header{
    padding-left:67px;
}
main
{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 61px;
    opacity: 0.68;
    height: 637px;
    margin-top: 50px;

}
h1 {
    position: absolute;
    top: 50px;
    left: 550px;
    width: 413px;
    height: 45px;
    text-align: left;
    font: normal normal normal 40px/45px Baskerville Old Face;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.x {
    position:absolute;
    top: -5px;
    left: 145px;
    width: 160px;
    height: 53px;
    text-align: left;
    font: normal normal normal 50px/54px Niagara Solid;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.a {
    position:absolute;
    top: 80px;
    left: 20px;
    width: 64px;
    height: 64px;
    opacity: 1;
}
.first {
    position: absolute;
    top: 245px;
    left: 329px;
    text-align: left;
    font: normal normal normal 25px/28px Baskerville Old Face;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    width: 126px;
    height: 28px;
}
.n1 {
    position:absolute;
    top: 274px;
    left: 352px;
    width: 148px;
    height: 41px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
.n2 {
    position:absolute;
    top: 276px;
    left: 526px;
    width: 148px;
    height: 41px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
.last {
    position: absolute;
    top: 245px;
    left: 514px;
    width: 126px;
    height: 28px;
    text-align: left;
    font: normal normal normal 25px/28px Baskerville Old Face;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.email {
    position:absolute;
    top: 317px;
    left: 332px;
    width: 325px;
    height: 28px;
    text-align: left;
    font: normal normal normal 25px/28px Baskerville Old Face;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.emailbox {
    position:absolute;
    top: 349px;
    left: 352px;
    width: 340px;
    height: 41px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
.pass {
    position:absolute;
    top: 393px;
    left: 332px;
    width: 325px;
    height: 28px;
    text-align: left;
    font: normal normal normal 25px/28px Baskerville Old Face;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.passbox {
    position:absolute;
    top: 426px;
    left: 352px;
    width: 340px;
    height: 41px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
.confirm {
    position:absolute;
    top: 473px;
    left: 332px;
    width: 325px;
    height: 28px;
    text-align: left;
    font: normal normal normal 25px/28px Baskerville Old Face;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.confirmbox {
    position:absolute;
    top: 507px;
    left: 352px;
    width: 340px;
    height: 41px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
.gender {
    position:absolute;
    top: 232px;
    left: 947px;
    width: 325px;
    height: 28px;
    text-align: left;
    font: normal normal normal 25px/28px Baskerville Old Face;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.genderbox {
    position:absolute;
    top: 264px;
    left: 963px;
    width: 340px;
    height: 41px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
.date {
    position:absolute;
    top: 315px;
    left: 947px;
    width: 325px;
    height: 28px;
    text-align: left;
    font: normal normal normal 25px/28px Baskerville Old Face;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.datebox {
    position:absolute;
    top: 357px;
    left: 963px;
    width: 340px;
    height: 41px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
.phone {
    position:absolute;
    top: 415px;
    left: 939px;
    width: 325px;
    height: 28px;
    text-align: left;
    font: normal normal normal 25px/28px Baskerville Old Face;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.phonebox {
    position:absolute;
    top: 457px;
    left: 963px;
    width: 340px;
    height: 41px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
.city {
    position:absolute;
    top: 520px;
    left: 932px;
    width: 325px;
    height: 28px;
    text-align: left;
    font: normal normal normal 25px/28px Baskerville Old Face;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1
}
.citybox {
    position:absolute;
    top: 562px;
    left: 962px;
    width: 340px;
    height: 41px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
.reg {
    text-align: center;
    font: normal normal normal 40px/45px Centaur;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    background-color: black;
    top: 657px;
    left: 300px;
    width: 834px;
    height: 59px; 
    position:absolute;
    border-radius:10px
}
