<%- include('partials/header'); -%>

    <main>
      <div class="col-lg-6">
        <button class="r">Professional Tour Guide</button>
      </div>
      <div class="col-lg-6">
        <button class="t"> Begginer Tour Guide</button>
      </div>
        <div id="form">
            <form class="row d-flex justify-content-center" action="">
              <div class=col-lg-2>
                <label class="first" for="salary">Salary</label>
                <input class="n1" type="number" name="salary" id="salary" min="100" max="1000" step="10" placeholder="Payment range" required />
              </div>
              <div class=col-lg-2>
                <label class="last" for="age">age</label>
                <input class="n2" type="number" name="age" id="age" min="10" placeholder="Age range" required />
              </div>
              <div class="col-lg-2">
                <label class="email" for="city">City</label>
                <input class="emailbox" type="search" name="City" id="city" required placeholder="Choose City" />
              </div>
              <div class="col-lg-2">
                <label class="gender">Preferred gender</label>
                <select required class="confirmbox">
                    <option id="Preferred gender" value="male">male</option>
                    <option id="Preferred gender" value="female">female</option>
                </select>
              </div>
              <div class="col-lg-2">
                <label class="confirm" for="language">Language</label>
                <select required class="genderbox">
                    <option id="language" value="english">English</option>
                    <option id="language" value="arabic">Arabic</option>
                </select>
              </div>
              <div class="row justify-content-center">
                <button class="reg"> Register </button>
              </div>
            </form>
        </div>



    </main>
    <script src="../script1.js"></script>
    <link href="/css/explore.css" rel="stylesheet">
<%- include('partials/footer'); -%>
