<%- include('partials/header'); -%>

      <div class="circleArrow">
        <img src="../images/icons/circle.png" alt="circle" width="70" height="70" />
      </div>
    <main>
      <div class="col-lg-6">
        <button class="r" selected>Professional Tour Guide</button>
      </div>
      <div class="col-lg-6">
        <button class="t"> Beginner Tour Guide</button>
      </div>
        <div id="form">
            <form class="row d-flex justify-content-center" action="/explore" method="post">
              <div class=col-lg-2>
                <label class="first" for="salary">Salary in $</label>
                <input class="n1" type="number" name="salary" id="salary"  placeholder="Payment range"  />
              </div>
              <div class=col-lg-2>
                <label class="last" for="age">Age</label>
                <input class="n2" type="number" name="age" id="age" min="10" placeholder="Age range" />
              </div>
              <div class="col-lg-2">
                <label class="email" for="city">City</label>
                <select required class="emailbox" name="City" id="city">
                  <option disabled selected value value="">Choose city</option>
                  <option id="Choose city" value="Cairo"> Cairo</option>
                  <option id="Choose city" value="Alexandria"> Alexandria</option>
                  <option id="Choose city" value="Dahab"> Dahab</option>
                  <option id="Choose city" value="Sharm El-Sheikh"> Sharm El-Sheikh</option>
                  <option id="Choose city" value="Luxor & Aswan"> Luxor & Aswan</option>
                </select>

              </div>
              <div class="col-lg-2">
                <label class="gender">Gender</label>
                <select class="confirmbox" name="gender">
                    <option disabled selected value="">Preferred gender</option>
                    <option id="Preferred gender" value="male">male</option>
                    <option id="Preferred gender" value="female">female</option>
                </select>
              </div>
              <div class="col-lg-2">
                <label class="confirm" for="language">Language</label>
                <select class="genderbox">
                    <option disabled selected value="">Preferred Language</option>
                    <option id="language" value="english">English</option>
                    <option id="language" value="arabic">German</option>
                    <option id="language" value="arabic">French</option>
                </select>
              </div>
              <div class="row justify-content-center">
                <button class="exp"> Explore </button>
              </div>
            </form>
        </div>



    </main>
    <script src="../script1.js"></script>
    <link href="/css/explore.css" rel="stylesheet">
<%- include('partials/footer'); -%>
