<%- include('partials/header'); -%>
<script>
        function filterItems() {
            // Get input value and convert it to lowercase
            var input = document.getElementById('search-bar').value.toLowerCase();
            
            // Get all items to filter
            var cities = document.getElementsByClassName('city');

            // Iterate through each item
            for (var i = 0; i < cities.length; i++) {
                var city = cities[i];
                var text = city.innerText.toLowerCase();

                // Check if the item's text starts with the input value
                if (text.startsWith(input)) {
                    city.style.display = 'block';
                } else {
                    city.style.display = 'none';
                }
            }
        }
    </script>

<style>
  .city {
        display: none;
      }
</style>

<h1>Plan Your Dream Trip!</h1>
<!-- Search Bar -->
<div class="search-container">
  <img src="images/icons/search.png" alt="Logo" width="50" height="50" class="search_img">
  <form id="search-form" action="#" method="post">
    <input type="text" id="search-bar" oninput="filterItems()" name="city" placeholder="Search for Cities">
    <ul>
        <li class="city">Alexandria</li>
        <li class="city">Cairo</li>
        <li class="city">Dahab</li>
        <li class="city">aaaaa</li>
        <li class="city">bbbb</li>
    </ul>
    <input id="submit-btn" type="submit" style="display:none">
  </form>
</div>

<!-- Lower Buttons -->
<div>
  <a href="/travel-tips">
  <button class="lower_buttons">
    <span id="button1" class="button__icon"></span>
    <span class="button__text"> Travel Tips </span>
    <span class="button__arrow"></span>
  </button>
  </a>
</div>

<div>
  <a href="/request-guide">
  <button class="lower_buttons">
    <span id="button2" class="button__icon"></span>
    <span class="button__text">Request A Tour Guide</span>
    <span class="button__arrow"></span>
  </button>
  </a>
</div>
<link rel="stylesheet" href="/css/home.css">
<script src="main.js"></script>


<%- include('partials/footer'); -%>
