<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
</head>
<body>
		<header>
				<div class="logo">
					<a class="navbar-brand" href="/">
						<img src="../images/icons/logo.png" alt="Company Logo">
						<h1>Unveil Egypt</h1>
					</a>
				</div>
		</header>
	<main>
		<div class="login-box">
			<h2>Login</h2>
			<form action="/login" method="post">
				<label for="username">Mail</label>
				<input type="text" id="username" name="mail" required>
				<label for="password">Password</label>
				<input type="password" id="password" name="password" required>
				<button type="submit">Login</button>
			</form>
			<p>Don't have an account? <a href="/register">Register here</a></p>
			<div class="social-login">
				<p>Or continue with:</p>
				<a href="#"><img src="../images/icons/face.png" alt="Facebook Logo"></a>
				<a href="#"><img src="../images/icons/goog.png" alt="Google Logo"></a>
			</div>
		</div>
	</main>
	<link rel="stylesheet" href="/css/login.css">
</body>
</html>
