<!DOCTYPE html>
<html>
<head>
  <title>Unveil Egypt</title>
  <link rel="stylesheet" type="text/css" href="/css/souv.css">
  <link rel="icon" href="images/icons/icon_png.ico">
</head>
<body>
  <div class="header">
    <div class="logo">
      <img src="images/icons/logo.png" alt="Company Logo">
      <h1>Unveil Egypt</h1>
    </div>
  </div>
  <main>
    <h1 class="headline">Souvenirs Shopping</h1>
    <div class="row">
      <div class="text">
        <img src="images/slider/place.png">
        <p><b>Khan El Khalili:</b> It is a historic souk, or market. It is known for its narrow streets and winding alleys, where vendors sell a wide variety of goods, including jewelry,  spices, textiles, and souvenirs.<br>
        located in Islamic Cairo.</p>
        <div class="rating">
          <span class="star product1" data-rating="1">&#9733;</span>
          <span class="star product1" data-rating="2">&#9733;</span>
          <span class="star product1" data-rating="3">&#9733;</span>
          <span class="star product1" data-rating="4">&#9733;</span>
          <span class="star product1" data-rating="5">&#9733;</span>
        </div>
      </div>
      <div class="text">
        <img src="images/slider/place.png">
        <p><b>The Mena House Oberoi Hotel:</b> a historic hotel located on the Giza plateau, with views of the Great Pyramids of Giza. The hotel offers Nile River cruises aboard its private dahabiya, a traditional Egyptian sailing boat.<br>
        located on Gezira Island in the middle of the Nile River.</p>
        <div class="rating">
          <span class="star product2" data-rating="1">&#9733;</span>
          <span class="star product2" data-rating="2">&#9733;</span>
          <span class="star product2" data-rating="3">&#9733;</span>
          <span class="star product2" data-rating="4">&#9733;</span>
          <span class="star product2" data-rating="5">&#9733;</span>
        </div>
      </div>
      <div class="text">
        <img src="images/slider/place.png">
        <p><b>Souq El Gomaa:</b> Souq El Gomaa is a weekly flea market located in the El-Ataba neighborhood of Cairo. It takes place every Friday and is a great place to find unique, handmade items, as well as secondhand goods and antiques.<br>
        Located in Sayeda Zeinab neighborhood of Cairo.</p>
        <div class="rating">
          <span class="star product3" data-rating="1">&#9733;</span>
          <span class="star product3" data-rating="2">&#9733;</span>
          <span class="star product3" data-rating="3">&#9733;</span>
          <span class="star product3" data-rating="4">&#9733;</span>
          <span class="star product3" data-rating="5">&#9733;</span>
        </div>
      </div>
      <div class="text">
        <img src="images/slider/place.png">
        <p><b>Al Azhar Street:</b> Al Azhar Street is a busy shopping district located in Islamic Cairo. It features a wide variety of shops selling everything from clothing and accessories to spices and souvenirs.<br>
        Located in the southeastern part of the city.</p>

        <div class="rating">
          <span class="star product4" data-rating="1">&#9733;</span>
          <span class="star product4" data-rating="2">&#9733;</span>
          <span class="star product4" data-rating="3">&#9733;</span>
          <span class="star product4" data-rating="4">&#9733;</span>
          <span class="star product4" data-rating="5">&#9733;</span>
        </div>
      </div>
    </div>
  </main>
  <script src="souv.js"></script>
</body>
</html>
