<!DOCTYPE html>
<html>
<head>
  <title>Historical</title>
  <link rel="stylesheet" type="text/css" href="/css/souv.css">
</head>
<body>
  <div class="header">
    <a href="\">
    <div class="logo">
      <img src="images/icons/logo.png" alt="Company Logo" width="70" height="70" />
      <h1>Unveil Egypt</h1>
    </div>
  </a>
  </div>
  <main>
    <h1 class="headline"><%= title %></h1>

    <div class="row">
      <% for (var i=0; i < listItems.length; i++) { %>
        <div class="text">
        <img src="images/slider/place.png">
        <p><b><%= listItems[i].bold %> </b> <%= listItems[i].text %> <br>
        <%= listItems[i].location %> </p>
        <div class="rating">
          <span class="star product1" data-rating="1">&#9733;</span>
          <span class="star product1" data-rating="2">&#9733;</span>
          <span class="star product1" data-rating="3">&#9733;</span>
          <span class="star product1" data-rating="4">&#9733;</span>
          <span class="star product1" data-rating="5">&#9733;</span>
        </div>
      </div>
      <% } %>
    </div>
  </main>
  <script src="His-text.js"></script>
</body>
</html>
