<%- include('partials/header'); -%>

    <div class="r">
    <img src="../images/icons/circle.png" alt="circle" width="70" height="70"/>
    </div>
    <main>
        <div class="col-lg-12">
          <div class = "common col-lg-3">
            <a class="z">Visa requirements</a>
          </div>
          <div class = "common col-lg-3">
            <a class="x">Currency and money</a>
          </div>
          <div class = "common col-lg-3">
            <a class="c">Transportation</a>
          </div>
          <div class = "common col-lg-3">
            <a class="v">Accommodation</a>
          </div>
        </div>

    </main>
<link rel="stylesheet" href="/css/travel-tips.css">

<%- include('partials/footer'); -%>
