<%- include('partials/header'); -%>

    <div class="r">
    <a href="/">
      <img src="../images/icons/circle.png" alt="circle" width="70" height="70"/>
    </a>
    </div>
    <main>
        <div class="col-lg-12">
          <div class = "common col-lg-3">
            <a class="z"><span class="black-text">Visa requirements</span></a>
          </div>
          <div class = "common col-lg-3">
            <a class="x"><span class="black-text">Currency and money</span></a>
          </div>
          <div class = "common col-lg-3">
            <a class="c"><span class="black-text">Transportation</span></a>
          </div>
          <div class = "common col-lg-3">
            <a class="v"><span class="black-text">Accommodation</span></a>
          </div>
        </div>

    </main>
<link rel="stylesheet" href="/css/travel-tips.css">

<%- include('partials/footer'); -%>
