@font-face
{
  font-family: 'Niagara Solid';
  src: url(fonts/NIAGSOL.TTF);
  font-family: 'Centaur';
  src: url(fonts/CENTAUR.TTF);
}
body {
    background-image: url('../images/Camel Rides.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
body::before
{
    content: '';
    background-color: rgba(166, 202, 221, 0.20);
    /* transparent black */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

header
{
    height: 150px;
}
main
{
    height: 700px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF;
    border-radius: 61px;
    opacity: 0.86;
    margin-top: 40px;
}
.logo
{
    font-family: 'Niagara Solid', cursive;
    font-style: normal;
    font-weight: 400;
    color: white;
    font-size: 60px;
    margin-top: 20px;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: white;
}
nav {
    font: normal normal normal 40px/45px Baskerville Old Face;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    text-align: center;
    margin-top: 100px;
}
.arrow1 {
    position: absolute;
    top: 100px;
    left: 30px;
    margin-top: 30px;
}

.container {
  text-align: center;
}
.box {
  display: block;
  text-align: left;
}
input {
  margin-bottom: 30px;
}
#form {
  margin-top: 51px;
}
.first {
    font: normal normal normal 25px/28px Baskerville Old Face;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    width: 126px;
    height: 28px;
}
.n1 {
    width: 148px;
    height: 41px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
.n2 {
    width: 148px;
    height: 41px;
    margin-left: 15px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
.last {
    width: 126px;
    height: 28px;
    position: relative;
    left: 20px;
    font: normal normal normal 25px/28px Baskerville Old Face;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.email {
    width: 325px;
    height: 28px;
    font: normal normal normal 25px/28px Baskerville Old Face;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.emailbox {
    width: 340px;
    height: 41px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
.pass {
    width: 325px;
    height: 28px;
    font: normal normal normal 25px/28px Baskerville Old Face;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.passbox {
    width: 340px;
    height: 41px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
.confirm {
    width: 325px;
    height: 28px;
    font: normal normal normal 25px/28px Baskerville Old Face;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.confirmbox {
    width: 340px;
    height: 41px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
.gender {
    width: 325px;
    height: 28px;
    font: normal normal normal 25px/28px Baskerville Old Face;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.genderbox {
    width: 340px;
    height: 41px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
.date {
    width: 325px;
    height: 28px;
    font: normal normal normal 25px/28px Baskerville Old Face;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.datebox {
    width: 340px;
    height: 41px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
.phone {
    width: 325px;
    height: 28px;
    font: normal normal normal 25px/28px Baskerville Old Face;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.phonebox {
    width: 340px;
    height: 41px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
.city {
    width: 325px;
    height: 28px;
    font: normal normal normal 25px/28px Baskerville Old Face;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1
}
.citybox {
    width: 340px;
    height: 41px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
.reg {
    text-align: center;
    justify-content: center;
    font: normal normal normal 40px/45px Centaur;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    background-color: black;
    width: 834px;
    height: 59px;
    border-radius:10px
}
