@font-face
{
  font-family: 'Niagara Solid';
  src: url('../fonts/NIAGSOL.TTF');
  font-family: 'Centaur';
  src: url('../fonts/CENTAUR.TTF');
}

body
{
  background-image: url('../images/Camel Rides.jpg');
  background-size: cover;
  position: relative;
  height: 100vh;
}
body::before
{
  content: '';
  background-color: rgba(166, 202, 221, 0.20);
  /* transparent black */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

/* adjust opacity as needed */
h1
{
  text-align: center;
  border-top: 0;
  font-family: 'Centaur', serif;
  font-weight: bold;
  justify-content: center;
  display: flex;
  position: relative;
  top: 150px;
  left: -70px;
  font-size: 30px;
}

.nav-item
{
  margin-left: 5px;
  font-family: 'Centaur', serif;
}

.d-inline-block
{
  margin-right: 2px;
}

.search_img
{
  margin-right: 10px;
}

.navbar-brand
{
  font-family: 'Niagara Solid', cursive;
  font-style: normal;
  font-weight: 400;
  color: white;
  font-size: 50px;
}

.search-container
{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Tw Cen MT-Bold';
  height: 50vh;
  /* set the height of the search container to 50% of the viewport height */
}

form
{
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 50px;
  width: 500px;
}

input
{
  padding: 10px;
  border: none;
  border-radius: 50px;
  width: 100%;
  margin-right: 10px;
  cursor: text;
  font-size: 20px;
}

.lower_buttons
{
  width: 350px;
  display: inline-flex;
  height: 60px;
  position: relative;
  left: 200px;
  background-color: rgba(166, 202, 221, 0.3);
  color: #fff;
  border: none;
  padding: 10px 10px;
  margin-bottom: 40px;
  font-size: 20px;
  border-radius: 20px;
  vertical-align: middle;
}

.lower_buttons:hover
{
  background: rgba(166, 202, 221, 0.5);
}

.lower_buttons:active
{
  background: rgba(166, 202, 221, 0.3);
}

.button__text
{
  color: black;
  font-family: 'Centaur', serif;
  height: 100%;
  padding: 5px 24px;
}

#button1
{
  background-image: url("../images/icons/tips.png");
  background-repeat: no-repeat;
  align-items: flex-end;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  display: inline-flex;
  height: 100%;
}

#button2
{
  background-image: url("../images/icons/tour gide.png");
  background-repeat: no-repeat;
  align-items: flex-end;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  display: inline-flex;
  height: 100%;
}

.button__arrow
{
  background-image: url("../images/icons/arrow.png");
  background-repeat: no-repeat;
  align-items: flex-end;
  height: 100%;
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  display: inline-flex;
  position: absolute;
  margin-left: 250px;
  margin-bottom: 10px;
}
