@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body
{
  background-image: url("../images/Camel Rides.jpg");
  background-size: cover;
  position: relative;
  height: 100vh;
  align-items: center;
  justify-content: center;



}

body::before
{
  content: '';
  background-color: rgba(166, 202, 221, 0.20);
  /* transparent black */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}



.nav-item
{
  margin-left: 5px;
  font-family: 'Centaur', serif;
}

.d-inline-block
{
  margin-right: 2px;
}


.navbar-brand
{
  font-family: 'Niagara Solid', cursive;
  font-style: normal;
  font-weight: 400;
  color: white;
  font-size: 50px;
}

.text1 {
  font-size: 48;
  color: black;
  text-align: center;
  padding-top: 100;
  font-family: 'Centaur', serif;
  font-weight: bold;
  position: relative;


}

.wrapper{
  display: flex;
  max-width: 1200px;
  position: relative;
  padding-left: 350px;
}
.wrapper i{
  top: 60%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
  background: #f2f2f2;
}
.wrapper i:first-child{
  left: 327px;
  z-index: 2;
  display: block;



}
.wrapper i:last-child{
  right: -22px;
  z-index: 2;
  display: block;
}
.wrapper .carousel{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.imgDiv{
  display: inline-block;
  object-fit: cover;
  user-select: none;
  height: 500px;
  width: 100%;
  text-align: center;

}
.imgDiv p{
/*  display: none;*/
font-size: 22px;
color: black;
font-weight: bold;
}
.carousel{

}
.carousel.dragging img{
  pointer-events: none;
}
.carousel img{
  object-fit: cover;
  user-select: none;
/*  margin-left: 14px;*/
  height: 460px;
  width: 98%;
  border-radius: 32px;

}
.carousel img:first-child{
  margin-left: 0px;
}


@media screen and (max-width: 900px) {
  .carousel img{
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel img{
    width: 100%;
  }
}
