@font-face
{
  font-family: 'Niagara Solid';
  src: url('../fonts/NIAGSOL.TTF');
  font-family: 'Centaur';
  src: url('../fonts/CENTAUR.TTF');

}

body {
  background-image: url('../images/Camel Rides.jpg');
  background-size: cover;
  margin: 0;
  padding: 0;
}
body::before
{
  content: '';
  background-color: rgba(166, 202, 221, 0.65);
  /* transparent black */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}



.header {
  /*background-color: #f2f2f2;*/
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.headline {
  font-size: 40px;
  font: normal normal bold Tw Cen MT;
  color: black;
  text-align: center;
  padding-top: 10px;
  font-weight: bold;
  position: relative;
}



.logo {
  display: inline-block;

}

.logo img {
  display: inline-block;
  vertical-align: middle;

}

.logo h1 {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  font-family: 'Niagara Solid', cursive;
  font-style: normal;
  font-weight: 400;
  color: white;
  font-size: 60px;
}

main {
  padding: 20px;
}

.row {
  margin-top: 50px;
  display: inline-grid;
  vertical-align: middle;
  width: 1200px;
  font-size: 20px;

}

.text {
  position: relative;
  display: flex;
  align-items: center;
}

.text img {
  width: 2%;
  height: auto;
  margin-right: 15px;
}

.rating{
  position: absolute;
  right: 0;
  bottom: 5px;
}
.star {
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.star:hover,
.star.active {
  color: #ffcc00;
}

#rate {
  color: black;
  margin-left: 30px;  
}
