<!DOCTYPE html>
<html>
<head>
  <title>Attending Folk Shows</title>
  <link rel="stylesheet" type="text/css" href="/css/folk.css">
</head>
<body>
  <div class="header">
    <div class="logo">
      <img src="images/icons/logo.png" alt="Company Logo">
      <h1>Unveil Egypt</h1>
    </div>
  </div>
  <main>
    <h1 class="headline">Attending Folk Shows</h1>
    <div class="row">
      <div class="text">
        <img src="images/slider/place.png">
        <p><b>Wekalet El Ghouri Arts Centre:</b> it offers daily folkloric dance shows, including tanoura and belly dancing.<br>
        Located in Islamic Cairo </p>
        <div class="rating">
          <span class="star product1" data-rating="1">&#9733;</span>
          <span class="star product1" data-rating="2">&#9733;</span>
          <span class="star product1" data-rating="3">&#9733;</span>
          <span class="star product1" data-rating="4">&#9733;</span>
          <span class="star product1" data-rating="5">&#9733;</span>
        </div>
      </div>
      <div class="text">
        <img src="images/slider/place.png">
        <p><b>Makan:</b> It offers regular performances of traditional music, including Sufi music, as well as dance and theater shows.<br>
        Located in the Sayyida Zeinab neighborhood of Cairo</p>
        <div class="rating">
          <span class="star product2" data-rating="1">&#9733;</span>
          <span class="star product2" data-rating="2">&#9733;</span>
          <span class="star product2" data-rating="3">&#9733;</span>
          <span class="star product2" data-rating="4">&#9733;</span>
          <span class="star product2" data-rating="5">&#9733;</span>
        </div>
      </div>
      <div class="text">
        <img src="images/slider/place.png">
        <p><b>Fustat Traditional Crafts Center:</b> It offers regular performances of traditional music and dance, as well as workshops and exhibitions on traditional crafts.<br>
        Located in Old Cairo</p>
        <div class="rating">
          <span class="star product3" data-rating="1">&#9733;</span>
          <span class="star product3" data-rating="2">&#9733;</span>
          <span class="star product3" data-rating="3">&#9733;</span>
          <span class="star product3" data-rating="4">&#9733;</span>
          <span class="star product3" data-rating="5">&#9733;</span>
        </div>
      </div>
      <div class="text">
        <img src="images/slider/place.png">
        <p><b>El Dina Wi Bassem:</b> It is a popular restaurant and nightclub It offers nightly entertainment, including live music, belly dancing, and folkloric dance shows.<br>
        Located in the Mohandiseen neighborhood of Cairo.</p>
        <div class="rating">
          <span class="star product4" data-rating="1">&#9733;</span>
          <span class="star product4" data-rating="2">&#9733;</span>
          <span class="star product4" data-rating="3">&#9733;</span>
          <span class="star product4" data-rating="4">&#9733;</span>
          <span class="star product4" data-rating="5">&#9733;</span>
        </div>
      </div>
    </div>
  </main>
  <script src="folk.js"></script>
</body>
</html>
