<!DOCTYPE html>
<html>
<head>
  <title>Visiting Parks</title>
  <link rel="stylesheet" type="text/css" href="/css/park.css">
</head>
<body>
  <div class="header">
    <div class="logo">
      <img src="images/icons/logo.png" alt="Company Logo">
      <h1>Unveil Egypt</h1>
    </div>
  </div>
  <main>
    <h1 class="headline">Visiting Parks</h1>
    <div class="row">
      <div class="text">
        <img src="images/slider/place.png">
        <p><b>Al-Azhar Park:</b> It features gardens, fountains, and stunning views of the city. The park is open daily from 9 am to 10 pm.<br>
        Located in Islamic Cairo</p>
        <div class="rating">
          <span class="star product1" data-rating="1">&#9733;</span>
          <span class="star product1" data-rating="2">&#9733;</span>
          <span class="star product1" data-rating="3">&#9733;</span>
          <span class="star product1" data-rating="4">&#9733;</span>
          <span class="star product1" data-rating="5">&#9733;</span>
        </div>
      </div>
      <div class="text">
        <img src="images/slider/place.png">
        <p><b>Giza Zoo:</b> It features a wide variety of animals, including lions, tigers, and elephants, as well as gardens and picnic areas. The zoo is open daily from 9 am to 5 pm.<br>
        Located in the Giza neighborhood of Cairo.</p>
        <div class="rating">
          <span class="star product2" data-rating="1">&#9733;</span>
          <span class="star product2" data-rating="2">&#9733;</span>
          <span class="star product2" data-rating="3">&#9733;</span>
          <span class="star product2" data-rating="4">&#9733;</span>
          <span class="star product2" data-rating="5">&#9733;</span>
        </div>
      </div>
      <div class="text">
        <img src="images/slider/place.png">
        <p><b>Gezira Park:</b> It features gardens, fountains, and walking paths, as well as several museums and cultural centers. The park is open daily from 8 am to 10 pm.<br>
        Located on an island in the Nile River, between downtown Cairo and the Giza neighborhood.</p>
        <div class="rating">
          <span class="star product3" data-rating="1">&#9733;</span>
          <span class="star product3" data-rating="2">&#9733;</span>
          <span class="star product3" data-rating="3">&#9733;</span>
          <span class="star product3" data-rating="4">&#9733;</span>
          <span class="star product3" data-rating="5">&#9733;</span>
        </div>
      </div>
      <div class="text">
        <img src="images/slider/place.png">
        <p><b>Family Park:</b> It features playgrounds, sports facilities, and picnic areas, as well as a lake with paddle boats. The park is open daily from 9 am to 10 pm.<br>
        located in the Nasr City neighborhood of Cairo.</p>
        <div class="rating">
          <span class="star product4" data-rating="1">&#9733;</span>
          <span class="star product4" data-rating="2">&#9733;</span>
          <span class="star product4" data-rating="3">&#9733;</span>
          <span class="star product4" data-rating="4">&#9733;</span>
          <span class="star product4" data-rating="5">&#9733;</span>
        </div>
      </div>
    </div>
  </main>
  <script src="park.js"></script>
</body>
</html>
