<!DOCTYPE html>
<html>
<head>
  <title>Religious</title>
  <link rel="stylesheet" type="text/css" href="/css/style-Rel-text.css">
</head>
<body>
  <div class="header">
    <div class="logo">
      <img src="images/icons/logo.png" alt="Company Logo">
      <h1>Unveil Egypt</h1>
    </div>
  </div>
  <main>
    <h1 class="headline">Religious Monuments</h1>
    <div class="row">
      <div class="text">
        <img src="images/slider/place.png">
        <span><p><b>Al-Azhar Mosque:</b> It is one of the oldest and most important mosques in Egypt, and is also home tp Al-Azhar University. <br>
        Located in the heart of Islamic Cairo on Al-Azhar Street. </p></span>
        <div class="rating">
          <span class="star product1" data-rating="1">&#9733;</span>
          <span class="star product1" data-rating="2">&#9733;</span>
          <span class="star product1" data-rating="3">&#9733;</span>
          <span class="star product1" data-rating="4">&#9733;</span>
          <span class="star product1" data-rating="5">&#9733;</span>
        </div>
      </div>
      <div class="text">
        <img src="images/slider/place.png">
        <p><b>Mosque of Ibn Tulun:</b> It is one of the oldest mosques in Egypt, dating back to the 9<sup>th</sup> century. It features a unique spiral minaret and a large courtyard.<br>
        Located in the Sayyida Zeinab neighborhood of Cairo</p>
        <div class="rating">
          <span class="star product2" data-rating="1">&#9733;</span>
          <span class="star product2" data-rating="2">&#9733;</span>
          <span class="star product2" data-rating="3">&#9733;</span>
          <span class="star product2" data-rating="4">&#9733;</span>
          <span class="star product2" data-rating="5">&#9733;</span>
        </div>
      </div>
      <div class="text">
        <img src="images/slider/place.png">
        <p><b>Hanging Church:</b> It is one of the oldest churches in Egypt. It is known for its beautiful architecture and arnate decorations.<br>
        Located in the Coptic Christian neighborhood  of Cairo</p>
        <div class="rating">
          <span class="star product3" data-rating="1">&#9733;</span>
          <span class="star product3" data-rating="2">&#9733;</span>
          <span class="star product3" data-rating="3">&#9733;</span>
          <span class="star product3" data-rating="4">&#9733;</span>
          <span class="star product3" data-rating="5">&#9733;</span>
        </div>
      </div>
      <div class="text">
        <img src="images/slider/place.png">
        <p><b>Ben Ezra Synagogue:</b> It is one of the oldest synagogues in Egypt, dating back to the 9<sup>th</sup> century. It has a rich history and is known for its beautiful architecture.<br>
        Located in Cairo</p>
        <div class="rating">
          <span class="star product4" data-rating="1">&#9733;</span>
          <span class="star product4" data-rating="2">&#9733;</span>
          <span class="star product4" data-rating="3">&#9733;</span>
          <span class="star product4" data-rating="4">&#9733;</span>
          <span class="star product4" data-rating="5">&#9733;</span>
        </div>
      </div>
    </div>
  </main>
  <script src="Rel-text.js"></script>
</body>
</html>
