<!DOCTYPE html>
<html>
<head>
  <title>Traditional Restaurants</title>
  <link rel="stylesheet" type="text/css" href="/css/style-rest.css">
</head>
<body>
  <div class="header">
    <div class="logo">
      <img src="images/icons/logo.png" alt="Company Logo">
      <h1>Unveil Egypt</h1>
    </div>
  </div>
  <main>
    <h1 class="headline">Traditional Restaurants</h1>
    <div class="row">
      <div class="text">
        <img src="images/slider/place.png">
        <p><b>Hoda Shaarawi:</b> A historic restaurant that serves traditional Egyptian dishes, including stuffed pigeon, molokhia, and grilled meat kebabs.<br>
        Location: 10 El Batal Ahmed Abdel Aziz St, Al Dokki, Giza.</p>

        <div class="rating">
          <span class="star product1" data-rating="1">&#9733;</span>
          <span class="star product1" data-rating="2">&#9733;</span>
          <span class="star product1" data-rating="3">&#9733;</span>
          <span class="star product1" data-rating="4">&#9733;</span>
          <span class="star product1" data-rating="5">&#9733;</span>
        </div>
      </div>
      <div class="text">
        <img src="images/slider/place.png">
        <p><b>Abu Shakra:</b> A popular restaurant that specializes in traditional Egyptian grilled meat dishes, such as kofta and shish tawouk, as well as mezzes and salads.<br>
        Location: Multiple locations, including Zamalek, Mohandiseen, and Heliopolis.</p>
        <div class="rating">
          <span class="star product2" data-rating="1">&#9733;</span>
          <span class="star product2" data-rating="2">&#9733;</span>
          <span class="star product2" data-rating="3">&#9733;</span>
          <span class="star product2" data-rating="4">&#9733;</span>
          <span class="star product2" data-rating="5">&#9733;</span>
        </div>
      </div>
      <div class="text">
        <img src="images/slider/place.png">
        <p><b>Abou El Sid:</b> A restaurant that serves authentic Egyptian cuisine, including slow-cooked meat dishes and traditional mezzes.<br>
        Location: 157 26th of July St, Zamalek, Cairo.</p>

        <div class="rating">
          <span class="star product3" data-rating="1">&#9733;</span>
          <span class="star product3" data-rating="2">&#9733;</span>
          <span class="star product3" data-rating="3">&#9733;</span>
          <span class="star product3" data-rating="4">&#9733;</span>
          <span class="star product3" data-rating="5">&#9733;</span>
        </div>
      </div>
      <div class="text">
        <img src="images/slider/place.png">
        <p><b>Koshary Abou Tarek:</b> A famous restaurant that serves the quintessential Egyptian dish of koshary, made with pasta, lentils, rice, chickpeas, and tomato sauce.<br>
        Location: 16 Adly St, Downtown Cairo.</p>
        <div class="rating">
          <span class="star product4" data-rating="1">&#9733;</span>
          <span class="star product4" data-rating="2">&#9733;</span>
          <span class="star product4" data-rating="3">&#9733;</span>
          <span class="star product4" data-rating="4">&#9733;</span>
          <span class="star product4" data-rating="5">&#9733;</span>
        </div>
      </div>
    </div>
  </main>
  <script src="rest-text.js"></script>
</body>
</html>
