<%- include('partials/header'); -%>

      <div class="wrapper">

      <i id="left" class="fa-solid fa-angle-left"></i>
        <div class="carousel">
          <div class="imgDiv">
            <p>Natural Monuments</p>
            <img src="../images/slider/cairo monu.jpg" alt="img" draggable="false">
          </div>
          <div class="imgDiv">
            <p>Historical Monuments</p>
            <img src="../images/slider/hol.jpg" alt="img" draggable="false">

          </div>
          <div class="imgDiv">
            <p>Religious Monuments</p>
            <img src="../images/slider/nat.jpg" alt="img" draggable="false">
          </div>
        </div>
        <i id="right" class="fa-solid fa-angle-right"></i>
      </div>
        <i id="right" class="fa-solid fa-angle-right"></i>
      </div>



      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
      <script src="/slider.js"> </script>
      <link rel="stylesheet" href="/css/slider.css">
    </body>
  </html>
